<footer>
    <div class="region-footer-second">
        <div class="vibrant">
            <!-- Server Include for Branded Footer -->
            <div class="r-scer-outtershell">
                <div class="r-scer-innershell">
                    <div class="r-scer-flag">
                        <img class="flag-img" src="./files/WPI_Logo_4.png">
                        <p>4 Chome-3-2 Sotokanda
                            <br>Chiyoda City, Tokyo 101-0021
                            <br>+81 3-5209-3330
                        </p>
                    </div>
                    <div class="column one">
                        <h3>SCHOOLS &amp; PROGRAMS</h3>
                        <ul>
                            <li><a href="#">Architecture</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Engineering</a></li>
                            <li><a href="#">Humanities, Arts, &amp; Social Sciences</a></li>
                            <li><a href="#">IT &amp; Web Science</a></li>
                            <li><a href="#">Science</a></li>
                            <li><a href="#">Research</a></li>
                        </ul>
                    </div>
                    <div class="column two">
                        <h3>RPI CONNECTIONS</h3>
                        <ul>
                            <li><a href="#">Admissions</a></li>
                            <li><a href="#">Alumni/ae &amp; Friends</a></li>
                            <li><a href="#">Human Resources</a></li>
                            <li><a href="#">Library</a></li>
                            <li><a href="#">Strategic Communications</a></li>
                            <li><a href="#">Veterans</a></li>
                        </ul>
                    </div>
                    <div class="column three">

                        <h3>ENGAGE</h3>
                        <ul>
                            <li><a href="#">Apply Now</a></li>
                            <li><a href="#">Be Social</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Give to Weeb Poly</a></li>
                            <li><a href="#">Visit Campus</a></li>
                            <li><a href="#" target="_blank">Send Feedback</a>
                            </li>
                        </ul>

                    </div>

                    <div class="r-scer-bottom-bit">
                        <p>Copyright &copy; {{ site.time | date: '%Y' }} Weeb Polytechnic Institute (WPI)</p>
                        <p>
                            <a target="_blank" href="#">Media Policy</a> &nbsp;&nbsp; | &nbsp;&nbsp;
                            <a target="_blank" href="#">Web Privacy Policy</a> &nbsp;&nbsp; | &nbsp;&nbsp;
                            <a target="_blank" href="#">Student Consumer Information</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
