<!----Main Header---->
<header>
    <div class="topbanner">
        <div class="middlelinks">
            <div class="logo">
                <a href="#">
                    <img src="./files/RPIlogo_white.png" width="378" height="115" alt="RPI">
                </a>
            </div>
            <div class="brand-menu">
                <nav class="people">
                    <a href="#">Students</a>
                    <a href="#">Parents</a>
                    <a href="#">Faculty &amp; Staff</a>
                    <a href="#">Alumni</a>
                </nav>
                <nav class="apply">
                    <a href="#">Apply</a>
                    <a href="#">Visit</a>
                    <a href="#">Give</a>
                </nav>
            </div>
        </div>
    </div>
</header>

<!----Main Header End---->
