<div class="menu-wrapper" role="navigation">

    <input type="checkbox" id="menuToggle">
    <label for="menuToggle" class="menu-icon">
        <i class="fa fa-bars menudown" aria-hidden="true"></i>
        <span class="menudown" style="margin-left:8px;">Menu</span>
        <i class="fa fa-times menuup" aria-hidden="true"></i>
        <span class="menuup" style="margin-left:8px;">Menu</span>
    </label>

    <ul class="nav" role="menubar">
        <div id="menu-wrapper-ribbon"></div>
        <li role="menuitem"><a class="mmabou" href="#">About</a></li>
        <li role="menuitem"><a class="mmacad" href="#">Academics</a>
            <input type="checkbox" id="acaToggle">
            <label for="acaToggle" class="area-icon">
                <i class="fa fa-angle-down acadown" aria-hidden="true"></i>
                <span class="arrows-text">open this section</span>
                <i class="fa fa-angle-up acaup" aria-hidden="true"></i>
                <span class="arrows-text">close this section</span>
            </label>
            <div class="mega-menu">
                <div class="cont">
                    <div id="mega-menu-ribbon"></div>
                    <div class="nav-column33">
                        <h3>Schools</h3>
                        <ul>
                            <li role="menuitem"><a href="#">Architecture</a></li>
                            <li role="menuitem"><a href="#">Business</a></li>
                            <li role="menuitem"><a href="#">Engineering</a></li>
                            <li role="menuitem"><a href="#">Humanities, Arts, and Social Sciences</a></li>
                            <li role="menuitem"><a href="#">IT &amp; Web Science</a></li>
                            <li role="menuitem"><a href="#">Science</a></li>
                        </ul>
                    </div>
                    <div class="nav-column33">
                        <h3>Quick Links</h3>
                        <ul>
                            <li role="menuitem"><a href="#">Minors</a></li>
                            <li role="menuitem"><a href="#">Interdisciplinary</a></li>
                            <li role="menuitem"><a href="#">Accelerated Programs</a></li>
                            <li role="menuitem"><a href="#">Graduate Programs for Working Professionals</a></li>
                            <li role="menuitem"><a href="#">Academic Catalogs</a></li>
                            <li role="menuitem"><a href="#">Academic Calendar</a></li>
                            <li role="menuitem"><a href="#">Faculty</a></li>
                        </ul>
                    </div>
                    <div class="nav-column33 nav-image">
                        <h3><a target="_blank" class="allred" href="#">The Arch</a></h3>
                        <a target="_blank" class="allred" href="#"><img src="./files/thearch.jpg" width="335" height="200" alt="Summer Arch"></a>
                    </div>
                </div>
            </div>
        </li>
        <li role="menuitem"><a class="mmadmi" href="#">Admissions</a>
            <input type="checkbox" id="admToggle">
            <label for="admToggle" class="area-icon">
                <i class="fa fa-angle-down admdown" aria-hidden="true"></i>
                <span class="arrows-text">open this section</span>
                <i class="fa fa-angle-up admup" aria-hidden="true"></i>
                <span class="arrows-text">close this section</span>
            </label>
            <div class="mega-menu" aria-hidden="true" role="menu">
                <div class="cont">
                    <div id="mega-menu-ribbon"></div>
                    <div class="nav-column33">
                        <span class="title"><a class="allred" href="#">Undergraduate</a></span>
                        <ul>
                            <li role="menuitem"><a href="#">How to Apply</a></li>
                            <li role="menuitem"><a href="#">Deadlines</a></li>
                            <li role="menuitem"><a href="#">Check Status</a></li>
                            <li role="menuitem"><a href="#">Campus Events</a></li>
                            &nbsp;
                        </ul>
                    </div>
                    <div class="nav-column33">
                        <span class="title"><a class="allred" href="#">Graduate</a></span>
                        <ul>
                            <li role="menuitem"><a href="#">PhD Applicants</a></li>
                            <li role="menuitem"><a href="#">Non-Degree Students</a></li>
                            <li role="menuitem"><a href="#">Recruiting Events</a></li>
                            <li role="menuitem"><a href="#">Hartford Campus</a></li>
                            &nbsp;
                        </ul>
                    </div>
                    <div class="nav-column33">
                        <span class="title"><a class="allred" href="#">Financial Aid</a></span>
                        <ul>
                            <li role="menuitem"><a href="#">Apply for Aid</a></li>
                            <li role="menuitem"><a href="#">Guide to Your Financial Aid</a></li>
                            <li role="menuitem"><a href="#">Cost of Attendance</a></li>
                            <li role="menuitem"><a href="#">Federal Work-Study</a></li>
                            <li role="menuitem"><a href="#">Loans</a></li>
                            <li role="menuitem"><a href="#">Scholarships and Grants</a></li>
                            &nbsp;
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li role="menuitem"><a class="mmpres" href="#">Moderators</a>
            <input type="checkbox" id="przToggle">
            <label for="przToggle" class="area-icon">
                <i class="fa fa-angle-down przdown" aria-hidden="true"></i>
                <span class="arrows-text">open this section</span>
                <i class="fa fa-angle-up przup" aria-hidden="true"></i>
                <span class="arrows-text">close this section</span>
            </label>
            <div class="mega-menu" aria-hidden="true" role="menu">
                <div class="cont">
                    <div id="mega-menu-ribbon"></div>
                    <div class="nav-column33">
                        <h3>Quick Links</h3>
                        <ul>
                            <li role="menuitem" class="withchild"><a href="#">Vision &amp; Priorities</a>
                                <input type="checkbox" id="prz-vp-Toggle">
                                <label for="prz-vp-Toggle" class="sub-area-icon">
                                    <i class="fa fa-plus prz-vp-down" aria-hidden="true"></i>
                                    <span class="arrows-text">open this section</span>
                                    <i class="fa fa-minus prz-vp-up" aria-hidden="true"></i>
                                    <span class="arrows-text">close this section</span>
                                </label>
                                <ul class="sub-menu">
                                    <li role="menuitem"><a href="#">President's Report</a></li>
                                    <li role="menuitem"><a href="#">State of Weeb Poly</a></li>
                                </ul>
                            </li>
                            <li role="menuitem"><a href="#">Leadership</a></li>
                            <li role="menuitem"><a href="#">Accomplishments</a>
                                <input type="checkbox" id="prz-ac-Toggle">
                                <label for="prz-ac-Toggle" class="sub-area-icon">
                                    <i class="fa fa-plus prz-ac-down" aria-hidden="true"></i>
                                    <span class="arrows-text">open this section</span>
                                    <i class="fa fa-minus prz-ac-up" aria-hidden="true"></i>
                                    <span class="arrows-text">close this section</span>
                                </label>
                                <ul class="sub-menu">
                                    <li role="menuitem"><a href="#">Educational Innovation</a></li>
                                    <li role="menuitem"><a href="#">Enabling Activities</a></li>
                                    <li role="menuitem"><a href="#">New Domains</a></li>
                                    <li role="menuitem"><a href="#">Research Leadership</a></li>
                                    <li role="menuitem"><a href="#">Student/Campus Experience</a></li>
                                </ul>
                            </li>
                            <li role="menuitem"><a href="#">Speeches</a></li>
                            <li role="menuitem"><a href="#">Biography</a></li>
                            <li role="menuitem"><a href="#">News</a>
                                <input type="checkbox" id="prz-nw-Toggle">
                                <label for="prz-nw-Toggle" class="sub-area-icon">
                                    <i class="fa fa-plus prz-nw-down" aria-hidden="true"></i>
                                    <span class="arrows-text">open this section</span>
                                    <i class="fa fa-minus prz-nw-up" aria-hidden="true"></i>
                                    <span class="arrows-text">close this section</span>
                                </label>
                                <ul class="sub-menu">
                                    <li role="menuitem"><a href="#">From the President's Desk</a></li>
                                </ul>
                            </li>
                            <li role="menuitem"><a href="#">Colloquy</a></li>
                        </ul>
                    </div>
                    <div class="nav-column33 nav-image"><span class="title"><a class="allred" href="#">President's Report</a></span>
                        <img src="./files/president-report.jpg" width="335" height="200" alt="">
                        <p>Breaking Paradigms</p>
                    </div>
                    <div class="nav-column33 nav-image">
                        <span class="title"><a target="_blank" class="allred" href="#">Weeb Plan 2024</a></span>
                        <img src="./files/rplan.jpg" width="335" height="200" alt="">
                        <p>We are moving from transforming Weebs to Weebs being transformative.</p>
                    </div>
                </div>
            </div>

        </li>
        <li role="menuitem"><a href="#">Tech Transfer</a>
            <input type="checkbox" id="resToggle">
            <label for="resToggle" class="area-icon">
                <i class="fa fa-angle-down resdown" aria-hidden="true"></i>
                <span class="arrows-text">open this section</span>
                <i class="fa fa-angle-up resup" aria-hidden="true"></i>
                <span class="arrows-text">close this section</span>
            </label>


            <div class="mega-menu" aria-hidden="true" role="menu">
                <div class="cont">
                    <div id="mega-menu-ribbon"></div>
                    <div class="nav-column33">
                        <h3>Innovation</h3>
                        <ul>
                            <li role="menuitem"><a href="#">Disclose Inventions</a></li>
                            <li role="menuitem"><a href="#">Commercializing Inventions</a></li>
                            <li role="menuitem"><a href="#">Technologies Available for Licensing</a></li>
                            <li role="menuitem"><a href="#">Blog</a></li>
                            <li role="menuitem"><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="nav-column33">
                        <h3>Commercialization</h3>
                        <ul>
                            <li role="menuitem"><a href="#">Inventor Resources</a></li>
                            <li role="menuitem"><a href="#">Inventor’s Guide</a></li>
                            <li role="menuitem"><a href="#">Technology Transfer Process</a></li>
                            <li role="menuitem"><a href="#">Commercialization Evaluation Criteria</a></li>
                            <li role="menuitem"><a href="#">Commercialization Coaching List</a></li>
                        </ul>
                    </div>
                    <div class="nav-column33 nav-image">
                        <h3><a class="allred" href="#">BLOG: THE NEXT NEW...</a></h3>
                        <img src="./files/tt-blog.jpg" width="335" height="200" alt="BLOG">
                        <p>The question we ask YOU: Why not change the world?</p>
                    </div>
                </div>
            </div>

        </li>
        <li role="menuitem"><a class="mmrese" href="#">Research</a>
            <input type="checkbox" id="resToggle">
            <label for="resToggle" class="area-icon">
                <i class="fa fa-angle-down resdown" aria-hidden="true"></i>
                <span class="arrows-text">open this section</span>
                <i class="fa fa-angle-up resup" aria-hidden="true"></i>
                <span class="arrows-text">close this section</span>
            </label>


            <div class="mega-menu" aria-hidden="true" role="menu">
                <div class="cont">
                    <div id="mega-menu-ribbon"></div>
                    <div class="nav-column33">
                        <h3>Signature Thrusts</h3>
                        <ul>
                            <li role="menuitem"><a href="#">Energy, Environment, &amp; Smart Systems</a></li>
                            <li role="menuitem"><a href="#">Biotechnology &amp; the Life Sciences</a></li>
                            <li role="menuitem"><a href="#">Media, Arts, Science, &amp; Technology</a></li>
                            <li role="menuitem"><a href="#">Computational Science &amp; Engineering</a></li>
                            <li role="menuitem"><a href="#">Nanotechnology &amp; Advanced Materials</a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-column33">
                        <h3>Research Resources</h3>
                        <ul>
                            <li role="menuitem"><a href="#">Research Centers</a></li>
                            <li role="menuitem"><a href="#">Facilities</a></li>
                            <li role="menuitem"><a href="#">Compliance</a></li>
                            <li role="menuitem"><a href="#">Grants &amp; Funding</a></li>
                            <li role="menuitem"><a href="#">Policy Documents</a></li>
                        </ul>
                    </div>
                    <!--
      <div class="nav-column33 nav-image">
        <h3><a class="allred" href="http://research.rpi.edu/node/263">Rensselaer IDEA</a></h3>
        <img src="./files/ridea.jpg" width="335" height="200" alt="Rensselaer IDEA">
        <p>The Rensselaer IDEA program will develop research and drive new technology in seven industries.</p>
      </div>
      -->
                </div>
            </div>

        </li>
        <li role="menuitem"><a class="mmstud" href="#">Student Experience</a>
            <input type="checkbox" id="stlToggle">
            <label for="stlToggle" class="area-icon">
                <i class="fa fa-angle-down stldown" aria-hidden="true"></i>
                <span class="arrows-text">open this section</span>
                <i class="fa fa-angle-up stlup" aria-hidden="true"></i>
                <span class="arrows-text">close this section</span>
            </label>


            <div class="mega-menu" aria-hidden="true" role="menu">
                <div class="cont">
                    <div id="mega-menu-ribbon"></div>
                    <div class="nav-column">
                        <span class="title">Experience Categories</span>
                        <ul>
                            <li role="menuitem"><a href="#">Life on Campus</a>
                            </li>
                            <li role="menuitem"><a href="#">Sports &amp; Recreation</a></li>
                            <li role="menuitem"><a href="#">Performing Arts</a>
                            </li>
                            <li role="menuitem"><a href="#">Civil &amp; Democratic Engagement</a></li>
                            <li role="menuitem"><a href="#">Professional &amp; Leadership Development</a></li>
                            <li role="menuitem"><a href="#">Diversity &amp; Inclusion</a></li>
                            <li role="menuitem"><a href="#">Student Support</a>
                            </li>
                        </ul>
                    </div>

                    <div class="nav-column">
                        <span class="title"><a class="allred" href="#">CLASS (Clustered Learning, Advocacy, and Support for Students)</a></span>
                        <ul>
                            <li role="menuitem"><a href="#">A Network for Success</a></li>
                            <li role="menuitem"><a href="#">Time-Based Clustering</a></li>
                            <li role="menuitem"><a href="#">Residential Clustering</a></li>
                        </ul>
                    </div>
                    <div class="nav-column">
                        <span class="title">Division of Student Life</span>
                        <ul>
                            <li role="menuitem"><a href="#">Archer Center</a></li>
                            <li role="menuitem"><a href="#">Center for Career and Professional Development</a></li>
                            <li role="menuitem"><a href="#">Dean of Students Office</a></li>
                            <li role="menuitem"><a href="#">International Services for Students and Scholars</a></li>
                            <li role="menuitem"><a href="#">Registrar</a></li>
                            <li role="menuitem"><a href="#">Weeb Poly Union</a></li>
                            <li role="menuitem"><a href="#">Student Health Center</a></li>
                            <li role="menuitem"><a href="#">Student Success</a></li>
                        </ul>
                    </div>
                    <div class="nav-column nav-image">
                        <span class="title"><a target="_blank" class="allred" href="#">The Arch</a></span>
                        <a target="_blank" class="allred" href="#"><img src="./files/arch-2020.jpg" width="335" height="200" alt="Summer Arch"></a>
                    </div>
                </div>
            </div>

        </li>
        <li role="menuitem"><a class="mmnews" href="#">News</a>
            <input type="checkbox" id="newsToggle">
            <label for="newsToggle" class="area-icon">
                <i class="fa fa-angle-down newsdown" aria-hidden="true"></i>
                <span class="arrows-text">open this section</span>
                <i class="fa fa-angle-up newsup" aria-hidden="true"></i>
                <span class="arrows-text">close this section</span>
            </label>
            <div class="mega-menu" aria-hidden="true" role="menu">
                <div class="cont">
                    <div id="mega-menu-ribbon"></div>
                    <div class="nav-column33">
                        <span class="title">News Categories</span>
                        <ul>
                            <li role="menuitem"><a href="#" title="">Research</a></li>
                            <li role="menuitem"><a href="#" title="">Academics</a></li>
                            <li role="menuitem"><a href="#" title="">Faculty</a></li>
                            <li role="menuitem"><a href="#" title="">Community</a></li>
                            <li role="menuitem"><a href="#" title="">Arts</a></li>
                        </ul>
                    </div>
                    <div class="nav-column33" style="padding-top: 3em;">
                        <a href="#" title="">
                            <img src="./files/mm-magazine.png" width="315" alt="Weeb Poly Alumni Magazine"></a>
                        <p>A magazine dedicated to keeping alumni, alumnae, and friends connected to one another and the Institute.
                        </p>
                    </div>
                    <div class="nav-column33" style="padding-top: 3em;">
                        <a href="#" title="">
                            <img src="./files/mm-edm.png" width="315" alt="Every Day Matters Blog"></a>
                        <p>A blog including the voices of students, faculty, staff, alumni, and alumnae from Weeb Poly who are making a difference in the world.</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
