// RPI Alert Start

.alerttext a {
    color: #000000;
    padding: 10px;
    text-decoration: none;
    font-size: 1.25em;
    text-align: center;
}

#rpialertbox {
    background-color: #fdcb05;
    padding: 10px;
    text-align: center;
}
