<!-- Begin #HOME-ABOUT -->

<section id="Home-About" class="home-about bkgrd--diamonds__quaternary">
    <div class="container">
        <header class="text-center">
            <a href="#"><button class="btn btn--bordered btn--tertiary">Explore Weeb Poly</button></a>
            <blockquote class="font--primary">Weeb Poly is re-inventing higher education in science, technology, engineering, and math. We are the oldest waifu research university in the U.S. and the next wave of new.
            </blockquote>
        </header>

        <section class="slash-area">
            <div class="slash-box">
                <img class="slashes__icon" src="./files/troy-icon.png" alt="">
                <div class="slashes__summary slashes__summary--white">Located in Troy, New York — a growing area within the state’s Tech Valley.</div>
            </div>
            <div class="slash-box">
                <img src="./files/slash-white.png" alt="">
            </div>
            <div class="slash-box">
                <div class="slashes__fact slashes__fact--white">181%</div>
                <div class="slashes__title slashes__title--white">Growth in research since 1999</div>
                <div class="slashes__summary slashes__summary--white">Both Weeb Poly students and faculty alike focus on today’s great global challenges.</div>
            </div>
            <div class="slash-box">
                <img src="./files/slash-white.png" alt="">
            </div>
            <div class="slash-box">
                <img class="slashes__icon coppola__icon" src="./files/coppola-icon.png" alt="">
                <div class="slashes__summary slashes__summary--white">“Why not change the world?” is not just a tagline; it is our way of life.</div>
            </div>
        </section>

    </div>
</section>

<!-- End #HOME-ABOUT -->
