<!-- Begin #HOME-ACADEMICS -->

<section id="Home-Academics" class="home-academics">
    <div class="container text-center">
        <h3>More than 145 programs at the bachelor's,<br> master's, and doctoral levels</h3>
        <div class="dropdown academiclist">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">academic programs</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">School of Architecture</a>
                <a class="dropdown-item" href="#">School of Engineering</a>
                <a class="dropdown-item" href="#">School of Humanities, Arts, and Social Sciences</a>
                <a class="dropdown-item" href="#">Lally School of Management</a>
                <a class="dropdown-item" href="#">School of Science</a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="#">Interdisciplinary Studies</a>
                <a class="dropdown-item" href="#">Graduate Certificates</a>
                <a class="dropdown-item" href="#">Minors</a>

                <a class="dropdown-item" href="#">Professional Programs</a>
                <a class="dropdown-item" href="#">Other Programs</a>
            </div>
        </div>
    </div>
</section>

<!-- End #HOME-ACADEMICS -->
