<!-- Start #HOME-EVENTS -->

<section id="Home-Events" class="home-events">
    <div class="container">
        <header>
            <h2>Upcoming Events</h2>
            <ul class="list-inline slash">
                <li><a href="#">Campus</a>
                </li>
                <li><a href="#">Academics</a></li>
                <li><a href="#">Arts</a></li>
            </ul>
        </header>

        <section class="home-events--calendar">
            <div>

                <a href="#" class="home-events--calendar__event">
                    <div class="time">
                        <time class="month"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime"
                content="2020-08-24T11:00:00-04:00">Aug</span></time>
                        <time class="day"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime"
                content="2020-08-24T11:00:00-04:00">24</span></time>
                    </div>
                    <h3>Arch Discovery Day Opening Session</h3>
                </a>
            </div>
            <div>

                <a href="#" class="home-events--calendar__event">
                    <div class="time">
                        <time class="month"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime"
                content="2020-08-31T15:00:00-04:00">Aug</span></time>
                        <time class="day"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime"
                content="2020-08-31T15:00:00-04:00">31</span></time>
                    </div>
                    <h3>Classes begin</h3>
                </a>
            </div>

        </section>
    </div>
</section>

<!-- End #HOME-EVENTS -->
