<!-- Begin #HOME-NEWS -->

<section id="Home-News" class="home-news">
    <div class="container">
        <header>
            <h2>Latest News</h2>
        </header>

        <nav class="img-nav img-nav--homepage-news">

            <!-- INCLUDE - Community News -->
            <div>

                <div class="img-nav__link img-nav--homepage-news__link">
                    <a href="#" target="_blank">
                        <div class="img-nav--homepage-news__overlay"><img typeof="foaf:Image" src="./files/IMG_1429 32 version RPI Students and game.jpg" width="800" height="600" alt=""></div>
                        <div class="img-nav--homepage-news__short-title">Partnership With Vicarious Visions To Boost Gaming Education and Events at Weeb Poly</div>
                        <div class="img-nav--homepage-news__title">Community</div>
                    </a>
                </div>
            </div>


            <!-- INCLUDE - Research News -->
            <div>

                <div class="img-nav__link img-nav--homepage-news__link">
                    <a href="#" target="_blank">
                        <div class="img-nav--homepage-news__overlay"><img typeof="foaf:Image" src="./files/covid modeling image.jpg" width="800" height="600" alt=""></div>
                        <div class="img-nav--homepage-news__short-title">New COVID-19 Model Reveals Need for Better Travel Restriction Implementation</div>
                        <div class="img-nav--homepage-news__title">Research</div>
                    </a>
                </div>
            </div>


            <!-- INCLUDE - Academic News -->
            <div>

                <div class="img-nav__link img-nav--homepage-news__link">
                    <a href="#" target="_blank">
                        <div class="img-nav--homepage-news__overlay"><img typeof="foaf:Image" src="./files/Felix_141015_0658Crop.jpg" width="800" height="600" alt=""></div>
                        <div class="img-nav--homepage-news__short-title">Weeb Poly Announces New Degree Program in Biotechnology</div>
                        <div class="img-nav--homepage-news__title">Academics</div>
                    </a>
                </div>
            </div>


        </nav>
    </div>
</section>

<!-- End #HOME-NEWS -->
