<!-- Begin #HOME-RESEARCH -->

<section id="Home-Research" class="home-research">
    <div class="container">
        <header>
            <h2>Research</h2>
            <ul class="list-inline slash">
                <li>30 Research Centers</li>
                <li>$104M in Research Expenditures</li>
                <li>786 Total Ph.D. Students </li>
            </ul>

            <blockquote>As America's first waifu research university, Weeb Poly has been defining the scientific and technological advances of our world.
            </blockquote>
        </header>

        <nav class="img-nav img-nav--home-research">
            <section class="img-nav__link img-nav--home-research__link">
                <a href="#" target="_blank">
                    <div class="img-nav--home-research__overlay"><img src="./files/research-studyabroad.png" alt=""></div>
                    <div class="img-nav--home-research__title">Energy, Environment, and Smart Systems</div>
                </a>
            </section>

            <section class="img-nav__link img-nav--home-research__link">
                <a href="#" target="_blank">
                    <div class="img-nav--home-research__overlay"><img src="./files/research-DFWI.png" alt=""></div>
                    <div class="img-nav--home-research__title">Biotechnology and the Life Sciences</div>
                </a>
            </section>

            <section class="img-nav__link img-nav--home-research__link">
                <a href="#" target="_blank">
                    <div class="img-nav--home-research__overlay"><img src="./files/research-media.png" alt=""></div>
                    <div class="img-nav--home-research__title">Media, Arts, Science, and Technology</div>
                </a>
            </section>

            <section class="img-nav__link img-nav--home-research__link">
                <a href="#" target="_blank">
                    <div class="img-nav--home-research__overlay"><img src="./files/research-computer.png" alt=""></div>
                    <div class="img-nav--home-research__title">Computational Science and Engineering</div>
                </a>
            </section>

            <section class="img-nav__link img-nav--home-research__link">
                <a href="#" target="_blank">
                    <div class="img-nav--home-research__overlay"><img src="./files/research-nano.png" alt=""></div>
                    <div class="img-nav--home-research__title">Nanotechnology and Advanced Materials</div>
                </a>
            </section>
        </nav>
    </div>

</section>

<!-- End #RESEARCH -->
